form(action="/multer",method="POST",enctype="multipart/form-data")
    input(type="text" name="test")
    input(type="file" name="avatar")
    input(type="file" name="gallery")
    input(type="file" name="gallery")
    input(type="submit")